=labelled_form_for [:admin, @asset], :method => :put, :html=>{:multipart => true} do |f|

	#content_body.content_body

		- @page_title = "Edit asset | Asset Manager"
		%h1= @asset.title

		=note "Maximum file upload size is #{Braincube::Config::AssetMaxUploadSize/1024/1024} megabytes. Larger uploads will be rejected."	
		=form_errors @asset

		.tabbed_fieldsets
			%ul.tabs
				%li
					%h2= link_to "Asset information", "#info"
				- if @asset.asset_type == :image
					%li
						%h2= link_to "Original image", "#original"
					- Braincube::Config::ImageFileVersions.each_pair do |k,v|
						%li
							%h2= link_to k.to_s.capitalize, "##{k}"
				- if @asset.asset_type == :pdf
					%li
						%h2= link_to "PDF details", "#pdf"

				- if [:doc,:xls,:zip].include?(@asset.asset_type)
					%li
						%h2= link_to "Document details", "#document"

				- if [:generic].include?(@asset.asset_type)
					%li
						%h2= link_to "File details", "#file"						
					
			%fieldset#info
				%legend Asset information
				.half
					.full= f.text_field :title, :required => true
					.full= f.select :asset_folder_id, asset_folder_options(AssetFolder.root, f.object.asset_folder_id), :required => true, :label => "Folder for asset"
					.full= f.file_field :asset, :label => "Replace file", :note=>"#{" Leave blank to keep the current asset." unless @asset.new_record?}"
				.half
					.full= f.text_area :caption, :rows => 4
					.full= f.text_area :credit, :rows => 3
					
					
			- if @asset.asset_type == :image
			
				%fieldset.preview#original
					%legend Original
					=note "This is the original image that was uploaded. To modify this image, upload a new file."
					.original_image_wrapper=image_tag( @asset.asset.url(:original), :class=>"original", :id=>"image_for_version_original" )
			
				- Braincube::Config::ImageFileVersions.each_pair do |k,v|
					%fieldset.preview{:id => k}
						%legend= k.to_s.capitalize
						
						.current_crop
							=note "This is the current crop for the #{k} image style. #{link_to "Recrop this image", "#", :class => "button edit"}"
							=image_tag( @asset.asset.url(k), :id=>"image_for_version_#{k}" )
						
						.recrop
							= note "Draw a rectangle on the image to choose the cropped area. #{link_to "Cancel crop", "#", :class => "button cancel"}"
							= image_tag( @asset.asset.url(:original), :class=>"crop_source" )
						
						.geometry= v[0]
						= f.hidden_field "crop_x_#{k}", :class => :crop_x
						= f.hidden_field "crop_y_#{k}", :class => :crop_y
						= f.hidden_field "crop_w_#{k}", :class => :crop_w
						= f.hidden_field "crop_h_#{k}", :class => :crop_h
			
			- if @asset.asset_type == :pdf
			
				%fieldset.preview#pdf
					%legend PDF details
										
					.thumbnail
						=note "This is the thumbnail for this PDF"
						=image_tag( @asset.asset.url(:article), :id=>"image_for_version_article" )

					.download_pdf
						= note "Download the original PDF below"
						= link_to "Download \"#{ @asset.title }\"", @asset.asset.url(:original), :class => "download_asset pdf"

			- if [:doc,:xls,:zip].include?(@asset.asset_type)

				%fieldset.preview#document
					%legend Document details

					.download_document
						= note "Download the original document below"
						= link_to "Download \"#{ @asset.title }\"", @asset.asset.url(:original), :class => "download_asset #{@asset.asset_type}"

			- if [:generic].include?(@asset.asset_type)

				%fieldset.preview#file
					%legend File details

					.download_document
						= note "Download the original file below"
						= link_to "Download \"#{ @asset.title }\"", @asset.asset.url(:original), :class => "download_asset #{@asset.asset_type}"

	#content_sidebar
		=render :partial => "sidebar", :locals=>{:f=>f}