%legend Basic info
.full= f.text_field :title, :required => true, :maxlength => 255, :note => "This will be the main title of the article"
.full= f.text_field :writer_string,	:note => "Separate user names with commas. Leave empty to publish an anonymous article", :label => "Authors"
.full
	.half= f.select :publication_id, publication_options(@article.publication||""), :note => "Choose the publication this article will appear in", :class=>:half
	.half= f.select :section_id, [""]+Section::all.map{|s| [s.name, s.id] }, :required => true, :note => "Choose the main section for this article"
.full.bottom
	.half
		= f.select :article_type, article_type_options(@article.article_type), :note => "Choose the type of article to fill in additional details", :class=>:half, :required => true
		
	.half.type_options
		- Braincube::Config::ArticleTypes.sort{|a,b| a.last<=>b.last}.each do |k,v|
			- begin
				= render :partial => "/admin/articles/article_types/#{k}", :locals => { :k => k, :v => v, :f => f }
			- rescue MissingTemplate
				= f.hidden_field "review_#{k}", :value => 0
				
