- content_for :wrapper do

	%body.notice
		#notice_wrapper
			#notice_content

				%h1= Braincube::Config::SiteTitle

				#notice_body
					= flash_message
					= yield

				.version
					Braincube v#{Braincube::Version} // <a href="http://www.braincube.co.uk" target="_blank">www.braincube.co.uk</a>
	
				
= render :partial => "layouts/admin/parts/head"
