%fieldset.article_type{ :id => "article_type_#{k}" }
	%legend Book review properties
	
	.full
		= render :partial => "admin/articles/article_types/review_rating", :locals => { :f => f, :k => k }
	
	= f.fields_for :properties do |properties|
		.full= properties.text_field :book_title, :value => f.object.properties[:book_title]
		.full.bottom= properties.text_field :book_author, :value => f.object.properties[:book_author]