%fieldset.article_type{ :id => "article_type_#{k}" }
	%legend Film review properties
	
	.full
		= render :partial => "admin/articles/article_types/review_rating", :locals => { :f => f, :k => k }
	
	= f.fields_for :properties do |properties|
		.full= properties.text_field :film_title, :value => f.object.properties[:film_title]
		.full= properties.text_field :film_director, :value => f.object.properties[:film_director]
		.full= properties.text_field :film_starring, :value => f.object.properties[:film_starring]
		.full= properties.text_field :film_release_date, :value => f.object.properties[:film_release_date]
		.full.bottom= properties.text_field :film_certificate, :value => f.object.properties[:film_certificate]