%fieldset.article_type{ :id => "article_type_#{k}" }
	%legend Single review properties
	
	.full
		= render :partial => "admin/articles/article_types/review_rating", :locals => { :f => f, :k => k }
	
	= f.fields_for :properties do |properties|
		.full= properties.text_field :single_title, :value => f.object.properties[:single_title]
		.full= properties.text_field :single_artist, :value => f.object.properties[:single_artist]
		.full= properties.text_field :single_label, :value => f.object.properties[:single_label]
		.full.bottom= properties.text_field :single_release_date, :value => f.object.properties[:single_release_date]