=labelled_form_for [:admin, @asset], :url => attach_admin_asset_folders_path( :anchor => :upload ), :html=>{:multipart => true} do |f|

	#left_pane
		=note "Maximum file upload size is #{Braincube::Config::AssetMaxUploadSize/1024/1024} megabytes. Larger uploads will be rejected."
		=form_errors @asset
	
		.half
			.full= f.text_field :title, :required => true
			.full= f.select :asset_folder_id, asset_folder_options(AssetFolder.root, f.object.asset_folder_id), :required => true, :label => "Folder for asset"
			.full= f.file_field :asset, :label => "Asset file", :note => "Choose the file to upload"
		.half
			.full= f.text_area :caption, :rows => 4
			.full= f.text_area :credit, :rows => 3
	
	#right_pane	
		.box
			%h2 Actions
			= submit_tag "Upload asset", :class => "button new"