-@page_title = "Asset manager"
%h1 Asset manager

.search_form
	.summary
		Found #{ pluralize(@assets.total_entries, "asset") }

	%form{ :action => request.path }
		%fieldset
			= label_tag :search_field, "Search assets:"
			= text_field_tag :q, params[:q], :id => :search_field
			.buttons
				%input.button{ :type => :submit, :value => "Search" }
				- unless params[:q].blank?
					= link_to "Show all", request.path, :class => :button 
				= ajax_spinner("search")
			.options
				%label
					%input.radio{ :type => :radio, :name => :location, :value => :this, :checked => (params[:location]=="this" || !params[:location]) }
					This folder
				%label
					%input.radio{ :type => :radio, :name => :location, :value => :all, :checked => (params[:location]=="all") }
					All folders
=flash_message

%form#asset_dnd{ :action => dnd_create_admin_assets_path, :method => :post }
	%h2 Drop files here to upload

#folder_browser
	%h2= @current_folder.name
	#main_folder_wrapper
		- if @assets.length>0	
			= render "folder"
		- else
			= note "No assets found"
			

=continuous_pagination "asset_manager"