-@page_title = "Users | User manager"
%h1 Users
.search_form
	.summary
		Found #{ pluralize(@users.total_entries, "user") }

	%form{ :action => request.path }
		%fieldset
			= label_tag :search_field, "Search users:"
			= text_field_tag :q, params[:q], :id => :search_field
			.buttons
				%input.button{ :type => :submit, :value => "Search" }
				- unless params[:q].blank?
					= link_to "Show all", request.path, :class => :button 
				= ajax_spinner("search")

= flash_message

#pagination_wrapper
	- unless @users.blank?
		= render :partial => "table", :locals=>{:users => @users}
	-else
		= note "There are no users", :type=>:alert

= continuous_pagination "users"